html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

#container{
  width: 100%;
  margin: 0 auto 0 auto;
  position: relative;
}

header{
  background: #222;
  color: #FFF;
  height: 40px;
}

header li{
  display: inline-block;
}

#title{
  background: #000;
  color: #FFF;
  height: 110px;
  text-align: center;
  padding-top: 20px;
}

#title a{
  font-family: arial;
  font-size: 300%;
}

#top_links{
  background: #222;
  color: #FFF;
  height: 50px;
  position: relative;
}

#top_links ul{
  margin: 0 0;
}

#top_links li{
  display: inline-block;
}

#top_links #personal{
  position: absolute;
  top: 15px;
  left: 17%;
}

#top_links #business{
  position: absolute;
  top: 15px;
  left: 47%;
}

#top_links #real_estate{
  position: absolute;
  top: 15px;
  left: 75%;
}

#main{
  background-image: url('./images/core-iphone-mobile_banking.jpg');
  background-size: cover;
  background-repeat: no repeat;
  background-position: center;
  height: 525px;
}

#icons{
  background: #222;
  position: relative;
  height: 400px;
}

#icon1{
  background: #FFF;
  width: 23%;
  height: 250px;
  position: absolute;
  top: 30px;
  left: 10%;
  text-align: center;
  border-radius: 3%
}

#icon2{
  background-size: cover;
  background-repeat: no repeat;
  background-position: center;
  position: absolute;
  top: 30px;
  left: 36%;
  border-radius: 3%;
}

#icon3{
  background: #FFF;
  width: 23%;
  height: 250px;
  position: absolute;
  top: 30px;
  left: 65%;
  text-align: center;
  border-radius: 3%;
}